@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #ff36f8d4 #f1f1f111;
  /* font-family: "Geologica", sans-serif; */
  font-family: "Outfit", sans-serif;
  /* font-family: "Noto Sans", sans-serif; */
  font-optical-sizing: auto;
}
*::-webkit-scrollbar {
  scrollbar-width: thin;
}
*::-webkit-scrollbar-track {
  background: #f1f1f100;
}
*::-webkit-scrollbar-thumb {
  background-color: #a40ecd8e;
  border-radius: 10px;
  height: 1px;
}
:root {
  --main-bg: #121212;
  --color-main: goldenrod;
  --primary-color: #58a4b0;
  --text-color: #e9e9e9;
  --sidebar-color: #333;
  --panel-color: #242424b6;
  --border-color: #444;
  --placeholder-color: #555;
  --light-color-normal: #666;
  --toggle-color: #777;
  --light-color: #888;
  --button-text: #e9e9e9;
  --disabled: #525252;
  --white: #ffffff;
  --pointer: url(images/pointer-24.png), auto;
}
a {
  text-decoration: none;
  cursor: var(--pointer);
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
html {
  cursor: url(images/cursor.png), auto;
}
#hero {
  color: var(--white);
  background-size: cover;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
#hero > svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 56px;
  color: var(--white);
}
.profile-name,
.role {
  margin-bottom: 10px;
}
.name,
.typed {
  font-weight: 500;
  color: var(--color-main);
}
.role {
  font-size: 36px;
}
.about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  border: 2px solid var(--white);
  border-radius: 50px;
  padding: 10px 20px;
  cursor: var(--pointer);
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  text-align: center;
}
.button::after {
  content: "\2935";
  font-size: 26px;
  font-weight: 800;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: all 0.3s ease;
  color: var(--white);
}
.button:focus,
.button:hover,
.button.active {
  color: transparent;
  box-shadow: rgba(150, 150, 193, 0.25) 0px 30px 60px -12px inset,
    rgba(255, 255, 255, 0.1) 0px 18px 36px -18px inset;
  border-color: var(--color-main);
}
.button:focus::after,
.button:hover::after,
.button.active::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
@keyframes float1 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.triangle-float1 {
  animation: float1 6s ease-in-out infinite;
}
@keyframes float2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, -5px);
  }
}
.triangle-float2 {
  animation: float2 5s ease-in-out infinite;
}
@keyframes float3 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
}
.triangle-float3 {
  animation: float3 7s ease-in-out infinite;
}
#about,
#skills {
  width: 100vw;
  height: 100vh;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#portfolio,
#education,
#contact {
  width: 100vw;
  height: 100vh;
  max-height: auto;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100%;
  width: 100%;
  max-height: auto;
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  background-color: var(--main-bg);
}
.label-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.label-container > .title {
  position: relative;
  margin: 0;
  color: var(--white);
  font-size: clamp(28px, 4vw, 38px);
}
.label-container > .title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(to right, #255bc8, #b973ac);
}
.blurred {
  position: relative;
  flex: 1;
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 95%;
  padding: 10px;
  background-image: linear-gradient(
    161.15deg,
    #c569cf3e 12.73%,
    #ee609b28 72.95%
  );
  border: 1px solid rgba(255, 255, 255, 0.155);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}
.bio-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 20px;
}
.img-container {
  position: relative;
  height: 350px;
  width: 300px;
  overflow: hidden;
  flex-shrink: 0;
}
.img-container > img {
  width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle, transparent 40%, rgba(0, 0, 0, 0.7) 100%);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.img-container:hover::before {
  opacity: 0;
}
.img-container:hover {
  cursor: var(--pointer);
}
.bio {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 55%;
  gap: 30px;
}
.bio h1 {
  font-size: 36px;
  color: var(--color-main);
}
.bio p {
  text-align: justify;
  line-height: 1.6;
  font-size: 20px;
  font-weight: 300;
  color: var(--white);
}
.link-chips {
  display: flex;
  gap: 20px;
}
.link-chips .chip:first-child {
  background-color: #333;
}
.chip {
  background-color: #0077b5;
  height: fit-content;
  width: fit-content;
  color: var(--white);
  padding: 3px 8px;
  text-decoration: none;
  cursor: var(--pointer);
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.chip::after {
  content: "➤";
  margin-left: 5px;
  font-size: 10px;
  display: inline-block;
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.circle {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-ring {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #f1f1f18e;
}
.skill-text {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 400;
  color: #f1f1f1;
}
.progress-ring__circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  fill: none;
  stroke-width: 8;
  transition: stroke-dashoffset 2s ease-out;
}
button {
  border: none;
  height: max-content;
  width: max-content;
  cursor: var(--pointer);
}
.skill-section,
.portfolio-section,
.education-section,
.contact-section {
  overflow-y: auto;
  position: relative;
  height: 100%;
  width: 100%;
  max-height: auto;
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  width: 350px;
  font-family: "Arial", sans-serif;
  background: transparent;
}
.card-image-container {
  width: 100%;
  height: 180px;
  position: relative;
  display: inline-block;
}
.card-image-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill;
}
.card h4 {
  font-size: clamp(14px, 4vw, 18px);
  margin-bottom: 5px;
}
.card span {
  color: #d1d1d1;
  margin-bottom: 5px;
  font-size: clamp(12px, 4vw, 14px);
}
.card p {
  margin-bottom: 5px;
  color: rgba(206, 206, 206, 0.745);
}
.source {
  padding: 6px;
  width: fit-content;
  background: #255bc8;
  color: var(--white);
  font-weight: 500;
  border-radius: 5px;
  font-size: clamp(12px, 4vw, 18px);
}
/* Tablet Responsive */
@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    font-size: 28px;
  }
  .role {
    font-size: 24px;
  }
  .button {
    font-size: 16px;
    padding: 10px 18px;
  }
  .button::after {
    font-size: 16px;
  }
  .container {
    padding: 0;
    flex-direction: column;
  }
  .blurred {
    max-height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
  .bio-section {
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }
  .img-container {
    height: 350px;
    width: 250px;
  }
  .bio {
    max-width: 100%;
    gap: 10px;
    padding: 10px;
  }
  .bio h1 {
    font-size: 22px;
  }
  .bio p {
    line-height: 1.6;
    font-size: 18px;
  }
  .link-chips {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .chip {
    font-size: 14px;
    padding: 2px 6px;
  }
  #skills,
  #portfolio,
  #education,
  #contact {
    height: auto;
  }
}
/* Mobile Responsive */
@media screen and (max-width: 767px) {
  .main {
    font-size: 22px;
  }
  .role {
    font-size: 18px;
  }
  .button {
    font-size: 14px;
    padding: 8px 16px;
  }
  .button::after {
    font-size: 14px;
  }
  .container {
    flex-direction: column;
    padding: 0;
    gap: 10px;
  }
  .blurred,
  .skill-section,
  .portfolio-section,
  .education-section {
    max-height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
  .bio-section {
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }
  .img-container {
    height: 250px;
    width: 200px;
  }
  .bio {
    max-width: 100%;
    gap: 10px;
    padding: 10px;
  }
  .bio h1 {
    font-size: 16px;
  }
  .bio p {
    line-height: 1.6;
    font-size: 14px;
  }
  .link-chips {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .chip {
    font-size: 12px;
    padding: 2px 6px;
  }
  #skills,
  #portfolio,
  #education {
    height: auto;
  }
  .icon {
    font-size: 24px;
  }
  .skill-text {
    font-size: 12px;
  }
}

.form {
  width: 100%;
  padding: 20px;
  display: grid;
  gap: 10px;
  max-width: 600px;
  background-color: transparent;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-group {
  flex: 1 1 250px;
  min-width: 250px;
}

.form label {
  align-items: center;
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--placeholder-color);
}

.form input,
.form select,
.form textarea {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  resize: none;
  background-color: var(--panel-color);
  color: var(--text-color);
  transition: border-color 0.3s ease;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}
.center {
  display: flex;
  justify-content: center;
}
.form input[type="submit"] {
  cursor: var(--pointer);
  background-color: #0077b5;
  color: var(--button-text);
  border: none;
  width: auto;
  transition: background-color 0.3s ease;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}
.form input:focus,
.form select:focus,
.form textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.117);
  border-color: var(--primary-color);
}
#footer {
  height: auto;
  width: 100%;
  color: var(--white);
  display: flex;
}
footer {
  height: 100%;
  width: 100%;
  max-height: auto;
  display: flex;
  padding: 100px;
  gap: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  background-color: #242424;
}
.footer-nav ul {
  list-style-type: none;
  padding: 0;
}
.footer-nav ul li {
  display: inline;
  margin-right: 20px;
}
.footer-nav ul li a {
  color: white;
  text-decoration: none;
}
.social-media {
  width: 100%;
  display: flex;
  justify-content: center;
}
.social-media a {
  margin: 0 10px;
  color: white;
}
.social-media i {
  font-size: 30px;
}
@media (max-width: 600px) {
  .footer-nav ul li {
    display: block;
    margin: 10px 0;
  }

  .social-media {
    padding: 10px 0;
  }
}
.edu {
  padding: 15px;
  margin-bottom: 20px;
}
.edu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.edu ul li {
  cursor: var(--pointer);
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 25px;
  font-size: clamp(18px, 4vw, 22px);
}
.edu ul li small {
  display: block;
  opacity: 0.7;
  color: var(--text-color);
  font-size:clamp(12px, 4vw, 18px);
  margin-top: 10px;
}
.edu ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border: 5px solid white;
  background: goldenrod;
  border-radius: 50%;
  left: -6px;
  top: 10px;
  z-index: 1;
}
.edu ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: calc(100% - 10px);
  background: white;
  left: 3px;
  top: 20px;
}
.edu ul li:hover::before {
  animation: circle 1.2s infinite;
}
.edu ul li:hover span {
  opacity: 1;
  color: greenyellow;
}
.year{
  background: #f1f1f134;
  width: fit-content;
  padding: 5px;
}
.college{
  font-style: italic;
}
@keyframes circle {
  from {
    box-shadow: 0 0 0 0px gold; 
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0); 
  }
}
